$screen-small: 1000px;

$sidebar-width: 20rem;
$sidebar-width-pad: 21rem;

$color-font: #ddd;
$color-font-transparent: rgba(224, 224, 224, .5);
$color-font-strong: white;
$color-back: #222;
$color-back-hover: #3a3a3a;
$color-back-footnote: #2c2c2c;
$color-footnote-border: rgba(255, 255, 255, .2);
$color-table-head-back: #353535;
$color-table-border: #4c4c4d;
$color-border: #5c5c5c;
$color-link: #899ef1;
$color-link-hover: #8db8fa;
$color-link-visited: #5a78ef;
$color-code: #fff;
$color-code-back: #191919;
$color-tag-background: #525252;
$color-tag-background-selected: #55a;
$color-tag-border: #000;
$color-llmchat-border: #3c3c3c;
$color-llmchat-window: #ddd;
$color-llmchat-window-background: #181818;
$color-llmchat-window-border: #919191;
$color-llm-chat-window-title: #5c5c5c;
$color-llmchat-role-system: #cacaca;
$color-llmchat-role-system-border: #3b3b3b;
$color-llmchat-role-available_tools-background: #182a2f;
$color-llmchat-role-available_tools-border: #314449;
$color-llmchat-role-user-background: #444;
$color-llmchat-role-user-content: white;
$color-llmchat-role-assistant-background: #394d33;
$color-llmchat-role-assistant-content: white;
$color-llmchat-role-tool_call-background: #182a2f;
$color-llmchat-role-tool_call-border: #314449;
$color-llmchat-full-transcript: #686868;
$color-llmchat-full-transcript-background: #191919;


html {
  font-family: sans-serif;
  background: $color-back;
  color: $color-font;
}

a {
  color: $color-link;
  text-decoration: none;
  &:visited { color: $color-link-visited; }
  &:hover { color: $color-link-hover; text-decoration: underline; }
  &[target="_blank"]::before {
    font-size: 75%;
    font-weight: bold;
    content: "↗\0000a0";
  }
}

pre {
  background: $color-code-back;
  color: $color-code;
  padding: .25rem;
  line-height: 125%;
}


h1, h2, h3, h4 {
  margin-top: 2rem;
}

.small {
  font-size: 75%;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.mono { font-family: monospace; }

.foot-note-label {
  cursor: pointer;
  color: $color-font-strong;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

/* allows up to 9 integrated foot-notes per parent-DOM-element */
.foot-note-checkbox-1:checked ~ .foot-note-content-1 { display: block !important; }
.foot-note-checkbox-2:checked ~ .foot-note-content-2 { display: block !important; }
.foot-note-checkbox-3:checked ~ .foot-note-content-3 { display: block !important; }
.foot-note-checkbox-4:checked ~ .foot-note-content-4 { display: block !important; }
.foot-note-checkbox-5:checked ~ .foot-note-content-5 { display: block !important; }
.foot-note-checkbox-6:checked ~ .foot-note-content-6 { display: block !important; }
.foot-note-checkbox-7:checked ~ .foot-note-content-7 { display: block !important; }
.foot-note-checkbox-8:checked ~ .foot-note-content-8 { display: block !important; }
.foot-note-checkbox-9:checked ~ .foot-note-content-9 { display: block !important; }

.foot-note-content {
  display: none;
  white-space: pre-wrap;
  margin: .5rem 0;
  padding: 0.3rem;
  border-radius: .3rem;
  background: $color-back-footnote;
  border: 1px solid $color-footnote-border;
}


table {
  // font-family: monospace;
  // border: 1px solid $color-border;

  td, th {
    padding-right: 4px;
    vertical-align: top;
    border-right: 1px solid $color-table-border;
    border-bottom: 1px solid $color-table-border;
    &:nth-child(1) {
      border-left: 1px solid $color-table-border;
    }
  }
  th.sortable {
    cursor: pointer;
    &.sorted {
      &:before {
        content: "⬇";
      }
      &.ascending:before {
        content: "⬆";
      }
    }
  }
  thead {
    th {
      background: $color-table-head-back;
    }
  }
  tbody {
    tr {
      &:hover { background: $color-back-hover; }
    }
    td {

    }
  }
}

.flex {
  display: flex;
  flex-direction: row;
  &.wrap {
    flex-wrap: wrap;
  }
  .flex-grow {
    flex-grow: 10;
  }

  @media (max-width: $screen-small) {
    &.reverse-when-small { flex-flow: wrap-reverse; }
  }
}



li {
  &.indent-1 { margin-left: .5rem; }
  &.indent-2 { margin-left: 1rem; }
  &.indent-3 { margin-left: 1.5rem; }
}

.show-when-small {
  display: none;
  @media (max-width: $screen-small) { display: unset; }
}

a.heading-linker {
  color: $color-font-transparent;
  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.tags {
  display: inline-block;
  .tag {
    display: inline-block;
    background: $color-tag-background;
    border: 1px solid $color-tag-border;
    border-radius: .2rem;
    padding: .2rem .3rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    &.selected {
      background: $color-tag-background-selected;
    }
  }
}

.tag-select .tags .tag {
  cursor: pointer;
}

main.article {

  .article-left {
    width: $sidebar-width;
    @media (max-width: $screen-small) { display: none; }
    position: fixed;
    top: 0;
  }

  .article-mid {
    padding-left: $sidebar-width-pad;
    width: 70%;
    max-width: 1800px;
    @media (max-width: $screen-small) {
      max-width: 95%;
      padding-left: 0;
      width: unset;
    }

    .article-footer {
      margin: 3rem 0;
    }

    img {
      overflow: scroll;
      max-width: 100%;
    }

  }

}

main.index {
  text-align: center;

  .index-wrapper {
    max-width: 70%;
    @media (max-width: $screen-small) {
      max-width: 95%;
    }
    margin: 0 auto;
  }

  .article-list {
    .article-item {
      margin-bottom: 3rem;

      .date {
        font-size: 120%;
      }

      .link {
        font-size: 150%;
        color: $color-font;
      }

      .teaser {
        //max-width: 70%;
      }
    }
  }
}

.llm-chat {
  margin-top: 1rem;
  border: 1px solid $color-llmchat-border;
  border-radius: .3rem;
  padding: .2rem;

  .llm-chat-window {
    cursor: pointer;
    background: $color-llmchat-window-background;
    color: $color-llmchat-window;
    border: 1px solid $color-llmchat-window-border;
    border-radius: .5rem;
    padding: .8rem .5rem;
    margin-bottom: .3rem;
    position: relative;
    .llm-chat-window-title {
      position: absolute;
      top: -.01rem;
      left: .3rem;
      font-size: 62%;
      color: $color-llm-chat-window-title;
    }
    .llm-chat-window-content {
      white-space: pre-wrap;
      pre {
        background: unset;
        color: unset;
        padding: 0;
        white-space: pre-wrap;
        overflow: scroll;
      }
    }
    &.llm-chat-role-system { color: $color-llmchat-role-system; border-color: $color-llmchat-role-system-border; }
    &.llm-chat-role-available_tools { background: $color-llmchat-role-available_tools-background; border-color: $color-llmchat-role-available_tools-border; .llm-chat-window-content { font-family: monospace; } }
    &.llm-chat-role-user { background: $color-llmchat-role-user-background; .llm-chat-window-content { color: $color-llmchat-role-user-content; } }
    &.llm-chat-role-assistant { background: $color-llmchat-role-assistant-background; .llm-chat-window-content { color: $color-llmchat-role-assistant-content; }}
    &.llm-chat-role-tool_call { background: $color-llmchat-role-tool_call-background; border-color: $color-llmchat-role-tool_call-border; .llm-chat-window-content { font-family: monospace; } }

    input[type="checkbox"] {
      display: none;
      & ~ .llm-chat-window-content {
        display: none;
      }
      &:checked ~ .llm-chat-window-content {
        display: unset;
      }
    }
  }
  .llm-chat-full-transcript {
    cursor: pointer;
    background: $color-llmchat-full-transcript-background;
    color: $color-llmchat-full-transcript;
    padding: .25rem;
    line-height: 125%;
    pre { display: block; overflow: scroll; }
    .llm-chat-label-show {
      font-size: 62%;
    }

    input[type="checkbox"] {
      display: none;
      & ~ pre { display: none; }
      &:checked ~ pre { display: block; }
      & ~ .llm-chat-label-show { display: unset; }
      &:checked ~ .llm-chat-label-show { display: none; }
    }
  }
}


/* ------------ code highlighting -------------- */

/* pygments style "github-dark" */
td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #6e7681 }
.highlight { background: #0d1117; color: #e6edf3 }
.highlight .c { color: #8b949e; font-style: italic } /* Comment */
.highlight .err { color: #f85149 } /* Error */
.highlight .esc { color: #e6edf3 } /* Escape */
.highlight .g { color: #e6edf3 } /* Generic */
.highlight .k { color: #ff7b72 } /* Keyword */
.highlight .l { color: #a5d6ff } /* Literal */
.highlight .n { color: #e6edf3 } /* Name */
.highlight .o { color: #ff7b72; font-weight: bold } /* Operator */
.highlight .x { color: #e6edf3 } /* Other */
.highlight .p { color: #e6edf3 } /* Punctuation */
.highlight .ch { color: #8b949e; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #8b949e; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
.highlight .ge { color: #e6edf3; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #e6edf3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #ffa198 } /* Generic.Error */
.highlight .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
.highlight .go { color: #8b949e } /* Generic.Output */
.highlight .gp { color: #8b949e } /* Generic.Prompt */
.highlight .gs { color: #e6edf3; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #79c0ff } /* Generic.Subheading */
.highlight .gt { color: #ff7b72 } /* Generic.Traceback */
.highlight .g-Underline { color: #e6edf3; text-decoration: underline } /* Generic.Underline */
.highlight .kc { color: #79c0ff } /* Keyword.Constant */
.highlight .kd { color: #ff7b72 } /* Keyword.Declaration */
.highlight .kn { color: #ff7b72 } /* Keyword.Namespace */
.highlight .kp { color: #79c0ff } /* Keyword.Pseudo */
.highlight .kr { color: #ff7b72 } /* Keyword.Reserved */
.highlight .kt { color: #ff7b72 } /* Keyword.Type */
.highlight .ld { color: #79c0ff } /* Literal.Date */
.highlight .m { color: #a5d6ff } /* Literal.Number */
.highlight .s { color: #a5d6ff } /* Literal.String */
.highlight .na { color: #e6edf3 } /* Name.Attribute */
.highlight .nb { color: #e6edf3 } /* Name.Builtin */
.highlight .nc { color: #f0883e; font-weight: bold } /* Name.Class */
.highlight .no { color: #79c0ff; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ffa657 } /* Name.Entity */
.highlight .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
.highlight .nl { color: #79c0ff; font-weight: bold } /* Name.Label */
.highlight .nn { color: #ff7b72 } /* Name.Namespace */
.highlight .nx { color: #e6edf3 } /* Name.Other */
.highlight .py { color: #79c0ff } /* Name.Property */
.highlight .nt { color: #7ee787 } /* Name.Tag */
.highlight .nv { color: #79c0ff } /* Name.Variable */
.highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
.highlight .pm { color: #e6edf3 } /* Punctuation.Marker */
.highlight .w { color: #6e7681 } /* Text.Whitespace */
.highlight .mb { color: #a5d6ff } /* Literal.Number.Bin */
.highlight .mf { color: #a5d6ff } /* Literal.Number.Float */
.highlight .mh { color: #a5d6ff } /* Literal.Number.Hex */
.highlight .mi { color: #a5d6ff } /* Literal.Number.Integer */
.highlight .mo { color: #a5d6ff } /* Literal.Number.Oct */
.highlight .sa { color: #79c0ff } /* Literal.String.Affix */
.highlight .sb { color: #a5d6ff } /* Literal.String.Backtick */
.highlight .sc { color: #a5d6ff } /* Literal.String.Char */
.highlight .dl { color: #79c0ff } /* Literal.String.Delimiter */
.highlight .sd { color: #a5d6ff } /* Literal.String.Doc */
.highlight .s2 { color: #a5d6ff } /* Literal.String.Double */
.highlight .se { color: #79c0ff } /* Literal.String.Escape */
.highlight .sh { color: #79c0ff } /* Literal.String.Heredoc */
.highlight .si { color: #a5d6ff } /* Literal.String.Interpol */
.highlight .sx { color: #a5d6ff } /* Literal.String.Other */
.highlight .sr { color: #79c0ff } /* Literal.String.Regex */
.highlight .s1 { color: #a5d6ff } /* Literal.String.Single */
.highlight .ss { color: #a5d6ff } /* Literal.String.Symbol */
.highlight .bp { color: #e6edf3 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #d2a8ff; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #79c0ff } /* Name.Variable.Class */
.highlight .vg { color: #79c0ff } /* Name.Variable.Global */
.highlight .vi { color: #79c0ff } /* Name.Variable.Instance */
.highlight .vm { color: #79c0ff } /* Name.Variable.Magic */
.highlight .il { color: #a5d6ff } /* Literal.Number.Integer.Long */
